# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ArticleApp/.vs
/ArticleApp/ArticleApp.Models/obj/Debug/net8.0
/ArticleApp/ArticleApp.SqlServer/ArticleApp.SqlServer.dbmdl
/ArticleApp/ArticleApp.SqlServer/ArticleApp.SqlServer.jfm


*.pdb
/ArticleApp/ArticleApp.SqlServer/bin/Debug
/ArticleApp/ArticleApp.SqlServer/obj/Debug
/ArticleApp/.vs/ArticleApp/DesignTimeBuild/.dtbcache.v2
/ArticleApp/.vs/ArticleApp/v17/.suo
/ArticleApp/.vs/ArticleApp/v17/DocumentLayout.json
