# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ArticleApp/.vs
/ArticleApp/ArticleApp.Models/obj/Debug/net8.0
/ArticleApp/ArticleApp.SqlServer/ArticleApp.SqlServer.dbmdl
/ArticleApp/ArticleApp.SqlServer/ArticleApp.SqlServer.jfm


*.pdb
/ArticleApp/ArticleApp.SqlServer/bin/Debug
/ArticleApp/ArticleApp.SqlServer/obj/Debug
/ArticleApp/.vs/ArticleApp/DesignTimeBuild/.dtbcache.v2
/ArticleApp/.vs/ArticleApp/v17/.suo
/ArticleApp/.vs/ArticleApp/v17/DocumentLayout.json
/ArticleApp/ArticleApp.Models/obj/Debug/net8.0/ArticleApp.Models.assets.cache
/ArticleApp/ArticleApp.Models/obj/ArticleApp.Models.csproj.nuget.dgspec.json
/ArticleApp/ArticleApp.Models/obj/project.assets.json
/ArticleApp/ArticleApp.Models/obj/project.nuget.cache
/ArticleApp/ArticleApp.Models.Tests/bin/Debug/net8.0
/ArticleApp/ArticleApp.Models.Tests/obj/Debug/net8.0/ArticleA.D08AB803.Up2Date
/ArticleApp/ArticleApp.Models.Tests/obj/Debug/net8.0/ArticleApp.Models.Tests.AssemblyInfo.cs
/ArticleApp/ArticleApp.Models.Tests/obj/Debug/net8.0/ArticleApp.Models.Tests.AssemblyInfoInputs.cache
/ArticleApp/ArticleApp.Models.Tests/obj/Debug/net8.0/ArticleApp.Models.Tests.csproj.AssemblyReference.cache
/ArticleApp/ArticleApp.Models.Tests/obj/Debug/net8.0/ArticleApp.Models.Tests.csproj.CoreCompileInputs.cache
/ArticleApp/ArticleApp.Models.Tests/obj/Debug/net8.0/ArticleApp.Models.Tests.csproj.FileListAbsolute.txt
/ArticleApp/ArticleApp.Models.Tests/obj/Debug/net8.0/ArticleApp.Models.Tests.genruntimeconfig.cache
/ArticleApp/ArticleApp.Models.Tests/obj/Debug/net8.0/ArticleApp.Models.Tests.sourcelink.json
/ArticleApp/ArticleApp.Models/bin/Debug/net8.0
/ArticleApp/ArticleApp.Models.Tests/obj/Debug/net8.0/ArticleApp.Models.Tests.assets.cache
/ArticleApp/ArticleApp.Models.Tests/obj/Debug/net8.0/ArticleApp.Models.Tests.csproj.BuildWithSkipAnalyzers
/ArticleApp/ArticleApp.Models.Tests/obj/ArticleApp.Models.Tests.csproj.nuget.dgspec.json
/ArticleApp/ArticleApp.Models.Tests/obj/project.assets.json
/ArticleApp/ArticleApp.Models.Tests/obj/project.nuget.cache
/ArticleApp/ArticleApp/obj/Debug/net8.0/ArticleApp.AssemblyInfoInputs.cache
/ArticleApp/ArticleApp/obj/Debug/net8.0/ArticleApp.csproj.AssemblyReference.cache
/ArticleApp/ArticleApp/obj/Debug/net8.0/ArticleApp.sourcelink.json
/ArticleApp/ArticleApp/obj/Debug/net8.0/project.razor.vs.bin
/ArticleApp/ArticleApp/bin/Debug/net8.0/ArticleApp.staticwebassets.runtime.json
/ArticleApp/ArticleApp/obj/Debug/net8.0/ArticleApp.AssemblyInfo.cs
/ArticleApp/ArticleApp/obj/Debug/net8.0/ArticleApp.assets.cache
/ArticleApp/ArticleApp/obj/Debug/net8.0/ArticleApp.csproj.CoreCompileInputs.cache
/ArticleApp/ArticleApp/obj/Debug/net8.0/ArticleApp.csproj.FileListAbsolute.txt
/ArticleApp/ArticleApp/obj/Debug/net8.0/ArticleApp.GeneratedMSBuildEditorConfig.editorconfig
/ArticleApp/ArticleApp/obj/Debug/net8.0/ArticleApp.genruntimeconfig.cache
/ArticleApp/ArticleApp/obj/Debug/net8.0/staticwebassets.build.json
/ArticleApp/ArticleApp/obj/Debug/net8.0/staticwebassets.development.json
/ArticleApp/ArticleApp/obj/Debug/net8.0/staticwebassets.pack.json
/ArticleApp/ArticleApp/obj/ArticleApp.csproj.nuget.dgspec.json
/ArticleApp/ArticleApp/obj/ArticleApp.csproj.nuget.g.props
/ArticleApp/ArticleApp/obj/project.assets.json
/ArticleApp/ArticleApp/obj/project.nuget.cache
/ArticleApp/ArticleApp.Models/obj/Debug/net8.0/ArticleApp.Models.GeneratedMSBuildEditorConfig.editorconfig
/ArticleApp/ArticleApp.Models/obj/ArticleApp.Models.csproj.nuget.g.props
/ArticleApp/ArticleApp.Models.Tests/obj/Debug/net8.0/ArticleApp.Models.Tests.GeneratedMSBuildEditorConfig.editorconfig
/ArticleApp/ArticleApp.Models.Tests/obj/ArticleApp.Models.Tests.csproj.nuget.g.props
/ArticleApp/.vs/ArticleApp/v17/.futdcache.v2
/ArticleApp/.vs/ProjectEvaluation/articleapp.metadata.v7.bin
/ArticleApp/.vs/ProjectEvaluation/articleapp.projects.v7.bin
/ArticleApp/AdminApp/obj/Debug/net6.0
/ArticleApp/AdminApp/obj
/ArticleApp/ArticleApp/obj/Debug/net8.0
/ArticleApp/ArticleApp/obj
/ArticleApp/AdminApp/bin/Debug/net6.0
/ArticleApp/AdminApp/bin/Debug/net8.0
/AdminApp/.vs/AdminApp
/AdminApp/AdminApp/bin/Debug/net6.0
/AdminApp/AdminApp/obj
/AdminApp/AdminApp.Models/bin/Debug/net6.0
/AdminApp/AdminApp.Models/obj
/AdminApp/AdminApp.SqlServer/bin/Debug
/AdminApp/AdminApp.SqlServer/obj/Debug
